{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">

<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>    Rounding Calculator | Free Calculator to Round numbers to Nearest Ones </title>
<meta name="description"
    content="    Friction Loss Calculator makes it easy for you to find   Friction Loss ." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content=" Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta property="og:description" content="    Friction Loss Calculator" />
<meta content="" property="og:site_name" />
    
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="    Friction Loss Calculator | Free Calculator to find     Friction Loss" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Rounding Calculator</tittle>
<meta property='og:title' content="    Friction Loss Calculator |     Friction Loss" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Friction-Loss-Calculator.jpeg" />
<meta property='og:description' content="Ohm's law Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}
{% block content %}

<style>
    input {
        text-align: right;
    }
</style>
<body>
    <script>
		function Clean(){
            document.getElementById('cards').innerHTML=''
			document.getElementById('cards1').innerHTML=''

		}
        function handleSubmit(event) {
            if(!validate()) {
                event.preventDefault();
            }
            return;
        }
	</script>
<br>
<br>
<br>
    <div class="container">
	<div class="card">
		<h1 class="card-header" style="background-color:#00BFFF;color: white;">Rounding Calculator</h1>
		<div class="card-body">
			<form method="POST" onsubmit="handleSubmit();">
				{% csrf_token %}
				<div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><strong>Enter Number</strong></div>
                    </div>
                    <input type="text" id="Ib" placeholder="Enter number"  class="form-control mt-1" name="num1" value = "{{num1}}" required >
                    </div>
                  <br>
                <div>
                    <div class = "form-group">
                        <label for="exampleFormControlInput1">Precision</label>
                        <select name="per" id="per" class="form-control" aria-label="input select">
							<option value="-6">Millions (-6)</option>
							<option value="-5">Hundred Thousands (-5)</option>
							<option value="-4">Ten Thousands (-4)</option>
							<option value="-3">Thousands (-3)</option>
							<option value="-2" selected="">Hundreds (-2)</option>
							<option value="-1">Tens (-1)</option>
							<option value="0">Ones (0)</option>
							<option value="1">Tenths (+1)</option>
							<option value="2">Hundredths (+2)</option>
							<option value="3">Thousandths (+3)</option>
							<option value="4">Ten Thousandths (+4)</option>
							<option value="5">Hundred Thousandths (+5)</option>
							<option value="6">Millionths (+6)</option>
							<option value="7">Ten Millionths (+7)</option>
							<option value="8">Hundred Millionths (+8)</option>
							<option value="9">Billionths (+9)</option>
							<option value="10">Ten Billionths (+10)</option>
							<option value="11">Hundred Billionths (+11)</option>
							<option value="12">Trillionths (+12)</option>
							<option value="13">Ten Trillionths (+13)</option>
							<option value="14">Hundred Trillionths (+14)</option>
							<option value="15">Quadrillionths (+15)</option>
							<option value="16">Ten Quadrillionths (+16)</option>
							<option value="17">Hundred Quadrillionths (+17)</option>
					    </select>
                    </div>
            </div>
            <div class="center col mt-2">
                <center>
                <input type="submit" class="btn btn-primary" value="Calculate" onclick="myFunction()">
                <input type="button" class="btn btn-danger" onclick="Clean()" style="margin-top: 5px;" value="Reset">
            </center>
            </div>
        </form>
    </div>
</div>
</div>
{%if cas %}
	<div class = "container" id = "cards">
    <div class="card">
        <h1 class="card-header" style="background-color:#00BFFF;color: white;text-align: center;">Rounding {{num1}} to Nearest {{prec}}</h1>
        <div class="card-body">
            <p>Round off value = <strong>{{res}}</strong></p>
        </div>
    </div>
	</div>
{% endif%}
{%if cas1 %}
<div class = "container" id = "cards1">
    <div class="card">
        <h1 class="card-header" style="background-color:#00BFFF;color: white;text-align: center;">Steps for Rounding {{num1}} to Nearest {{prec}}</h1>
        <div class="card-body">
            <p>Given Number is {{num1}}</p>
            <p>Observe the {{place}} digit in the number. Here it is {{tens}}</p>
            <p>The {{place}} place digit {{tens}} {{st}}. {{st1}}</p>
            <p>Rounded value of {{num1}} is {{res}}</p>
            <p>Therefore, {{num1}} is rounded to the nearest hundreds is <strong>{{res}}</strong>.</p>
        </div>
    </div>
	</div>
{% endif %}
<script>
var scrollDiv = document.getElementById("cards").offsetTop;
window.scrollTo({ top: scrollDiv, behavior: 'smooth' });

    function myFunction() {
        document.getElementById("cards").innerHTML = "";

    }
</script>
</body>
{%endblock%}